.App {
  min-height: 100vh !important;
  background-color: #282c35 !important;
  padding: 0 8rem !important;
  color: #cbd5e1;
}

.navigation {
  background-color: #1d1e23 !important;
  padding: 1rem 0;
}

.link {
  padding: 5px 8px;
  border-radius: 0.3rem;
}

.link:hover {
  background-color: #282c35;
}

.nav-icon {
  margin-right: 5px;
}

.footer {
  background-color: #1d1e23 !important;
  padding: 2rem 4rem;
}

.part-1 {
  display: flex;
  justify-content: first baseline;
  width: fit-content;
  margin: auto;
}

.part-1 img {
  height: 28px;
}

.social {
  margin-right: 2rem;
}

.powered {
  color: #cbd5e1 !important;
}

.footer-divider {
  background-color: rgba(211, 211, 211, 0.26);
  height: 1px;
}

.Home,
.Articles,
.Projects,
.About {
  padding-bottom: 1.5rem;
  min-height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro {
  display: flex;
  justify-content: space-around;
}

.intro-caption {
  width: 60%;
}

.intro-image img {
  height: 275px;
  border-radius: 1rem;
}

.latest-articles {
  width: 93%;
  margin: auto;
  padding-top: 8rem;
}

.has-text-theme {
  color: #dc2626 !important;
}

.custom-links {
  text-decoration: underline;
}

.custom-links:hover {
  background-color: #dc2626 !important;
}

.is-loading,
.is-error {
  width: fit-content;
  margin: auto;
  padding-top: 15rem;
}

table {
  width: 100%;
}

table tr {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0.5rem;
  margin: 0.2rem 0;
  align-items: center;
}

thead {
  border-bottom: 1px solid lightgray;
}

tbody tr {
  border-radius: 0.3rem;
}

tbody tr:hover {
  background-color: #1d1e23;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .App {
    padding: 0 !important;
  }

  .level {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }

  .level-item {
    margin: 0 !important;
  }

  .part-1 {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .social {
    margin-bottom: 1rem;
  }

  .Home,
  .Articles,
  .Projects,
  .About {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .intro {
    flex-direction: column-reverse;
    align-items: center;
  }

  .intro-caption {
    margin-top: 1rem;
    width: auto;
    text-align: center;
  }

  .intro-image img {
    height: 275px;
    border-radius: 1rem;
  }
}
