@import url("https://fonts.googleapis.com/css2?family=Rokkitt&family=Zilla+Slab&display=swap");

/* 
font-family: 'Rokkitt', serif;*
font-family: 'Zilla Slab', serif;*
*/

body,
html {
  font-family: "Zilla Slab", serif;
  scroll-behavior: smooth !important;
  margin: 0 !important;
  padding: 0 !important;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #1d1e23;
}

body::-webkit-scrollbar-thumb {
  background-color: #cbd5e169;
}
