@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&family=Raleway&family=Source+Code+Pro&display=swap");

/* 
font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Source Code Pro', monospace;
*/

body {
  background-color: #eaf4f9;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.11' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  font-family: "Poppins", sans-serif !important;
  scroll-behavior: smooth !important;
}

.footer-font {
  font-family: "Raleway", sans-serif !important;
}

.cool-font {
  font-family: "Kanit", sans-serif !important;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: rgb(179, 177, 177) !important;
}

html::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136) !important;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100) !important;
}

html::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68) !important;
}

pre,
code {
  font-family: "Source Code Pro", monospace !important;
  overflow-x: auto !important;
  tab-size: 4 !important;
  background-color: rgb(60, 64, 80) !important;
  color: white !important;
  padding: 0 1rem !important;
  border-radius: 0.5rem;
}

/* media queries */

@media screen and (max-width: 480px) {
  .landing-zero {
    padding: 1rem 0 !important;
  }

  .landing-one {
    flex-direction: column !important;
    padding: 1rem 0 !important;
    width: 95% !important;
  }

  .hr-resized {
    margin: 1rem auto !important;
    width: 95% !important;
  }
  .landing-img {
    width: 50% !important;
  }

  .landing-caption {
    width: 100% !important;
    text-align: center !important;
  }

  .landing-nav {
   flex-direction: column !important;
  }

  .landing-nav-btn {
    width: 100% !important;
    margin: 1rem 0 !important;
    justify-content: center !important;
  }

  .about-one {
    flex-direction: column !important;

  }

  .about-zero {
    margin: 0.5rem 0 !important ;
  }

  .about-text {
    margin: 0 !important;
  }

  .about-resume {
    margin: 2rem auto !important;
  }

  .about-img {
    margin: 0 auto 1rem auto !important;
    width: 95% !important;
  }

  .navbar-sm {
    display: none !important;
  }

  .burger {
    display: inline-block !important;
  }

  .git-one {
    margin: 0 !important;
  }

  .git-two {
    width: 100% !important;
  }

  .git-three {
    height: auto !important;
  }

  .git-four {
    width: auto !important;
  }
}

/* media queries */
